.pt-pb-hero {
  padding-top: 150px;
  padding-bottom: 100px;
}

.hero-heading-1-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    60px/74px var(--unnamed-font-family-helvetica-neue);
}

.hero-heading-1 {
  font-size: 40px;
}

.hero-heading-2-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) var(--unnamed-font-family-helvetica-neue);
}
.hero-heading-2 {
  font-size: 25px;
}

.hero-heading-3 {
  font-size: 16px;
}
.hero-heading-3-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-25)
    var(--unnamed-font-family-helvetica-neue);
}
.hero-heading-3-padding {
  padding-left: none;
  padding-right: none;
}

/* .hero-heading-3-w {
  width: 300px;
} */

/*? TABLETS */
@media (min-width: 576px) {
  .hero-heading-1 {
    font-size: 35px;
  }
  .hero-heading-2 {
    font-size: 25px;
  }
  .hero-heading-3 {
    font-size: 15px;
  }
  /* .hero-heading-3-w {
    width: 450px;
  } */
  .pt-pb-hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .hero-heading-3-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .hero-heading-1 {
    font-size: 45px;
  }
  .hero-heading-2 {
    font-size: 35px;
  }
  .hero-heading-3 {
    font-size: 15px;
  }
  /* .hero-heading-3-w {
    width: 570px;
  } */
  .pt-pb-hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .hero-heading-3-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .hero-heading-1 {
    font-size: 40px;
  }
  .hero-heading-2 {
    font-size: 30px;
  }
  .hero-heading-3 {
    font-size: 15px;
  }
  /* .hero-heading-3-w {
    width: 603px;
  } */
  /* .hero-heading-3-w {
    width: 600px;
  } */
  .pt-pb-hero {
    padding-top: 241px;
    padding-bottom: 150px;
  }
  .hero-heading-3-padding {
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media (min-width: 1200px) {
  .hero-heading-1 {
    font-size: 50px;
  }
  .hero-heading-2 {
    font-size: 40px;
  }
  .hero-heading-3 {
    font-size: 20px;
  }
  /* .hero-heading-3-w {
    width: 943px;
  } */
  /* .hero-heading-3-w {
    width: 800px;
  } */
  .pt-pb-hero {
    padding-top: 241px;
    padding-bottom: 150px;
  }
}

/*? XL SCREENS */
@media (min-width: 1400px) {
  .hero-heading-1 {
    font-size: 60px;
  }
  .hero-heading-2 {
    font-size: 40px;
  }
  .hero-heading-3 {
    font-size: 20px;
  }
  /* .hero-heading-3-w {
    width: 943px;
  } */
  .pt-pb-hero {
    padding-top: 241px;
    padding-bottom: 150px;
  }
  .hero-heading-3-padding {
    padding-left: 240px;
    padding-right: 240px;
  }
}

@media (min-width: 1600px) {
  .hero-heading-1 {
    font-size: 60px;
  }
  .hero-heading-2 {
    font-size: 40px;
  }
  .hero-heading-3 {
    font-size: 20px;
  }
  /* .hero-heading-3-w {
    width: 943px;
  } */
  .pt-pb-hero {
    padding-top: 241px;
    padding-bottom: 150px;
  }
  .hero-heading-3-padding {
    padding-left: 400px;
    padding-right: 400px;
  }
}
