.section1-card-info-text {
  font: var(--unnamed-font-family-helvetica-neue);
  font-weight: normal;
  color: var(--unnamed-color-010101);
}

.section1-card-info-text-size {
  font-size: 16px;
}

.section1-rounded {
  border-radius: 20px;
}

.section1-rounded-card {
  border-radius: 20px;
}

.about-gepp-section1-card {
  background: var(--unnamed-color-f9f9f6) 0% 0% no-repeat padding-box;
}

.section1-text-size {
  /* Default: Mobile (phones) */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-family-helvetica-neue);

  font-size: 16px;
}

.ge-section1-text-size {
  /* Default: Mobile (phones) */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-family-helvetica-neue);
  font-size: 16px;
}

.ge-section1-icon {
  height: 100px;
  width: 100px;
}
.ge-section1-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-45) / var(--unnamed-line-spacing-55)
    var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-005f3c);
}
.ge-section1-title-size {
  font-size: 30px;
}

.section1-button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-f9f9f6);
  background-color: var(--unnamed-color-005f3c);
  border: none;
  border-radius: 10px;
}

.section1-button-text-size {
  font-size: 15px;
}
.section1-button-padding {
  padding: 9px 20px 9px 20px;
}

.card {
  background: var(--unnamed-color-f9f9f6) 0% 0% no-repeat padding-box;
  border: 2px solid var(--unnamed-color-005f3c);
  box-shadow: 8px 8px 0px #00000029;
}

.card-title {
  color: var(--unnamed-color-005f3c);
}

.section1-card-button {
  background-color: var(--unnamed-color-005f3c);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-25)
    var(--unnamed-font-family-helvetica-neue);
  border: none;
  color: var(--unnamed-color-f9f9f6);
  border-radius: 10px;
}

.section1-card-btn-padding {
  padding: 7px 24px 7px 24px;
}
.section1-card-btn-text-size {
  font-size: 15px;
}

.section1-card-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-line-spacing-55) var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-005f3c);
}
.section1-card-title-text-size {
  font-size: 20px;
}

.lc-card-title-text-size {
  font-size: 35px;
}
.lc-section1-card-sub-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-line-spacing-55)
    var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-005f3c);
}
.lc-section-card-sub-title-text-size {
  font-size: 30px;
}

.lc-section-card-info-text {
  font-size: 16px;
}
.lc-section-card-info-text-size {
  font-size: 16px;
}
.section-1-px {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 576px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }

  .section1-text-size {
    font-size: 20px;
  }
  .section-1-px {
    padding-left: 0;
    padding-right: 0;
  }
  .section1-card-btn-text-size {
    font-size: 12px;
  }
  .section1-button-text-size {
    font-size: 15px;
  }
  .ge-section1-title-size {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }
  .card {
    max-width: 100%;
    margin: auto;
  }
  .section1-text-size {
    font-size: 20px;
  }
  .section-1-px {
    padding-left: 0;
    padding-right: 0;
  }
  .section1-card-btn-text-size {
    font-size: 15px;
  }
  .section1-button-text-size {
    font-size: 20px;
  }
  .ge-section1-title-size {
    font-size: 30px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }
  .section1-text-size {
    font-size: 20px;
  }
  .section-1-px {
    padding-left: 0;
    padding-right: 0;
  }
  .section1-card-btn-text-size {
    font-size: 20px;
  }
  .section1-card-btn-text-size {
    font-size: 20px;
  }
  .section1-button-text-size {
    font-size: 20px;
  }
  .section1-rounded-card {
    border-radius: 40px;
  }
  .ge-section1-title-size {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }
  .section1-text-size {
    font-size: 20px;
  }
  .section-1-px {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section1-card-btn-text-size {
    font-size: 12px;
  }
  .section1-button-text-size {
    font-size: 20px;
  }
  .ge-section1-title-size {
    font-size: 40px;
  }
}

/*? XL SCREENS */

@media (min-width: 1400px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }
  .section1-text-size {
    font-size: 30px;
  }
  .section1-card-btn-text-size {
    font-size: 17px;
  }
  .section1-card-btn-text-size {
    font-size: 17px;
  }
  .section1-card-title-text-size {
    font-size: 30px;
  }
  .section1-button-text-size {
    font-size: 20px;
  }
  .ge-section1-title-size {
    font-size: 40px;
  }
}

@media (min-width: 1600px) {
  .section1-card-info-text-size {
    font-size: 16px;
  }
  .section1-text-size {
    font-size: 30px;
  }
  .section1-card-btn-text-size {
    font-size: 20px;
  }
  .section1-card-title-text-size {
    font-size: 40px;
  }
  .section1-button-text-size {
    font-size: 20px;
  }
  .ge-section1-title-size {
    font-size: 45px;
  }
}
