.about-gepp-section6-denr-icon {
  width: 80px;
  height: 80px;
}

.about-gepp-section6-denr-icon {
  width: 80px;
  height: 80px;
}
.about-gepp-section6-dti-icon {
  width: 91px;
  height: 80px;
}
.about-gepp-section6-doe-icon {
  width: 80px;
  height: 80px;
}

.about-gepp-section6-dost-icon {
  width: 57px;
  height: 76px;
}
