/*? ABOUT GEPP */
.about-gepp-section3-giz-icon {
  height: 60px;
  width: 73px;
}

.about-gepp-section3-undp-icon {
  height: 60px;
  width: 30px;
}

.about-gepp-section3-expertise-france-icon {
  height: 60px;
  width: 175px;
}
.about-gepp-section3-gggi-icon {
  width: 161px;
  height: 60px;
}
.about-gepp-section3-gepp-icon {
  height: 60px;
  width: 161px;
}
.about-gepp-section3-ifc-icon {
  height: 60px;
  width: 340px;
}

.about-gepp-section3-card-title-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-30) /
    var(--unnamed-line-spacing-37) var(--unnamed-font-family-helvetica-neue);
  line-height: normal;
}

.about-gepp-section3-card-title-text-size {
  font-size: 30px;
}
/*? END ABOUT GEPP */

/*? IMAGE */

.section3-image-styles {
  border-radius: 20px;
  box-shadow: 3px 3px 0px #00000066;
}

.section3-image-badge {
  border-radius: 10px 10px 10px 10px;
}

.section3-image-badge-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / 30px var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-f9f9f6);
}
.section3-image-badge-text-size {
  font-size: 16px;
}

.section2-image-mb {
  margin-bottom: 48px;
}
/*? END IMAGE*/

/*? START SECTION 3 BUTTON*/
.section3-button-color {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-f9f9f6);
  background-color: var(--unnamed-color-005f3c);
  border: none;
  border-radius: 10px;
}
.section3-button-padding {
  padding: 9px 20px 9px 20px;
}
.section3-button-text-size {
  font-size: 15px;
}
/*? END SECTION 3 BUTTON*/

/*? SECTION 3 CARD */
.section3-card-text-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-30) var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-005f3c);
}

.section3-card-text-title-size {
  font-size: 19px;
  line-height: normal;
}

.section3-text-date-geo-time {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-005f3c);
  letter-spacing: 0px;
  opacity: 1;
}

.section3-text-dategeo-time-size {
  font-size: 15px;
}

.section3-text-info {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-line-spacing-26)
    var(--unnamed-font-family-helvetica-neue);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-010101);
  opacity: 1;
}

.section3-text-info-padding {
  padding-top: 10px;
  padding-bottom: 4px;
}

.section3-text-info-size {
  font-size: 16px;
}

.section3-card-btn {
  color: var(--unnamed-color-005f3c);
  font: var(--unnamed-font-style-normal)
    var(--unnamed-font-family-helvetica-neue);
  border: 1px solid var(--unnamed-color-005f3c);
  border-radius: 10px;
  background-color: var(--unnamed-color-e6f2e6);
}
.section3-card-btn-padding {
  padding: 5px 22px 5px 22px;
}
.section-card-btn-text-size {
  font-size: 15px;
}

.section3-card-text-link {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-005f3c);
}

.section3-card-text-link-size {
  font-size: 15px;
}
/*? SECTION 3 CARD*/

@media (min-width: 576px) {
  .section3-button-text-size {
    font-size: 15px;
  }
  .section3-card-btn-padding {
    padding: 5px 22px 5px 22px;
  }
  .section-card-btn-text-size {
    font-size: 15px;
  }
  .section3-card-text-link-size {
    font-size: 15px;
  }
  .section3-text-dategeo-time-size {
    font-size: 15px;
  }
  .section3-text-info-size {
    font-size: 15px;
  }
  .section3-text-info-padding {
    padding-top: 7px;
    padding-bottom: 5px;
  }
  .section3-card-text-title-size {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .section3-button-text-size {
    font-size: 20px;
  }
  .section3-card-btn-padding {
    padding: 5px 22px 5px 22px;
  }
  .section-card-btn-text-size {
    font-size: 15px;
  }
  .section3-card-text-link-size {
    font-size: 15px;
  }
  .section3-text-dategeo-time-size {
    font-size: 15px;
  }
  .section3-text-info-size {
    font-size: 15px;
  }
  .section3-text-info-padding {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .section3-card-text-title-size {
    font-size: 25px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .section3-button-text-size {
    font-size: 20px;
  }
  .section3-card-btn-padding {
    padding: 5px 22px 5px 22px;
  }
  .section-card-btn-text-size {
    font-size: 15px;
  }
  .section3-card-text-link-size {
    font-size: 15px;
  }
  .section3-text-dategeo-time-size {
    font-size: 15px;
  }
  .section3-text-info-size {
    font-size: 15px;
  }
  .section3-text-info-padding {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .section2-image-mb {
    margin-bottom: 48px;
  }
}

@media (min-width: 1200px) {
  .section3-button-text-size {
    font-size: 20px;
  }
  .section3-card-btn-padding {
    padding: 5px 22px 5px 22px;
  }
  .section-card-btn-text-size {
    font-size: 10px;
  }
  .section3-card-text-link-size {
    font-size: 10px;
  }
  .section3-text-dategeo-time-size {
    font-size: 15px;
  }
  .section3-text-info-size {
    font-size: 15px;
  }
  .section3-text-info-padding {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .section3-card-text-title-size {
    font-size: 20px;
    line-height: var(--unnamed-line-spacing-37);
  }
}

/*? XL SCREENS */

@media (min-width: 1400px) {
  .section3-button-text-size {
    font-size: 20px;
  }
  .section3-card-btn-padding {
    padding: 5px 15px 5px 15px;
  }
  .section-card-btn-text-size {
    font-size: 17px;
  }
  .section3-card-text-link-size {
    font-size: 17px;
  }
  .section3-text-dategeo-time-size {
    font-size: 17px;
  }
  .section3-text-info-size {
    font-size: 15px;
  }

  .section3-card-text-title-size {
    font-size: 27px;
    line-height: var(--unnamed-line-spacing-37);
  }
  .section3-text-info-padding {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1600px) {
  .section3-button-text-size {
    font-size: 20px;
  }

  .section3-card-btn-padding {
    padding: 8px 22px 8px 22px;
  }
  .section-card-btn-text-size {
    font-size: 20px;
  }
  .section3-card-text-link-size {
    font-size: 20px;
  }
  .section3-text-dategeo-time-size {
    font-size: 20px;
  }
  .section3-text-info-size {
    font-size: 16px;
  }
  .section3-card-text-title-size {
    font-size: 30px;
    line-height: var(--unnamed-line-spacing-37);
  }
  .section3-text-info-padding {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

/* Default: Full width on small screens */
.event {
  width: 100%;
}

.event-layout {
  display: flex;
  flex-direction: column;
}

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .event {
    width: 100%;
  }
  .event-layout-sm {
    flex-direction: column;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 25px;
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .event {
    width: 100%;
  }
  .event-layout-md {
    flex-direction: row;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 25px;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .event {
    width: 50%;
  }
  .event-layout-lg {
    flex-direction: column;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 30px;
  }
}

/* Extra large screens (≥1400px) */
@media (min-width: 1400px) {
  .event {
    width: 50%;
  }
  .event-layout-l {
    flex-direction: row;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 30px;
  }
}

/* Extra wide screens (≥1600px) */
@media (min-width: 1600px) {
  .event {
    width: 50%;
  }
  .event-layout-md {
    flex-direction: column;
  }
  .event-layout-xl {
    flex-direction: row;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 30px;
  }
}

/* Ultra-wide screens (≥1920px) */
@media (min-width: 1920px) {
  .event {
    width: 50%;
  }
  .event-layout-xxl {
    flex-direction: row;
  }
  .about-gepp-section3-card-title-text-size {
    font-size: 30px;
  }
}
