.members-of-the-project-gap {
  gap: 30px;
}

.about-gepp-section6-denr-icon {
  width: 40px;
  height: 40px;
}

.about-gepp-section6-denr-icon {
  width: 50px;
  height: 50px;
}
.about-gepp-section6-dti-icon {
  width: 60px;
  height: 50px;
}
.about-gepp-section6-doe-icon {
  width: 50px;
  height: 50px;
}

.about-gepp-section6-dost-icon {
  width: 45px;
  height: 50px;
}

@media (min-width: 576px) {
  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }
  .about-gepp-section6-dti-icon {
    width: 91px;
    height: 80px;
  }
  .about-gepp-section6-doe-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-dost-icon {
    width: 57px;
    height: 76px;
  }
}

@media (min-width: 768px) {
  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }
  .about-gepp-section6-dti-icon {
    width: 91px;
    height: 80px;
  }
  .about-gepp-section6-doe-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-dost-icon {
    width: 57px;
    height: 76px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .about-gepp-section6-denr-icon {
    width: 40px;
    height: 40px;
  }

  .about-gepp-section6-denr-icon {
    width: 50px;
    height: 50px;
  }
  .about-gepp-section6-dti-icon {
    width: 60px;
    height: 50px;
  }
  .about-gepp-section6-doe-icon {
    width: 50px;
    height: 50px;
  }

  .about-gepp-section6-dost-icon {
    width: 45px;
    height: 50px;
  }
  .members-of-the-project-gap {
    gap: 48px;
  }
}

@media (min-width: 1200px) {
}

/*? XL SCREENS */

@media (min-width: 1400px) {
  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }
  .about-gepp-section6-dti-icon {
    width: 91px;
    height: 80px;
  }
  .about-gepp-section6-doe-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-dost-icon {
    width: 57px;
    height: 76px;
  }
}

@media (min-width: 1600px) {
  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-denr-icon {
    width: 80px;
    height: 80px;
  }
  .about-gepp-section6-dti-icon {
    width: 91px;
    height: 80px;
  }
  .about-gepp-section6-doe-icon {
    width: 80px;
    height: 80px;
  }

  .about-gepp-section6-dost-icon {
    width: 57px;
    height: 76px;
  }
}
