/*? ABOUT GEPP*/

.about-gepp-section2-title-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    80px/97px var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-f9f9f6);
}
.about-gepp-section2-title-text-size {
  font-size: 80px;
}
.about-gepp-section2-info-text {
  font: var(--unnamed-font-family-helvetica-neue);
  line-height: normal;
  color: var(--unnamed-color-f9f9f6);
}

.about-gepp-section2-info-text-size {
  font-size: 40px;
}

.about-gepp-section2-padding-y {
  padding-top: 170px;
  padding-bottom: 170px;
}
/*? END ABOUT GEPP*/

/*? LEARNING CENTER*/
.lc-section2-text-size {
  font-size: 35px;
}

.lc-section2-text {
  color: var(--unnamed-color-f9f9f6);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    35px/40px var(--unnamed-font-family-helvetica-neue);
}
/*? END LEARNING CENTER*/

.section2-font-family {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-45) / var(--unnamed-line-spacing-55)
    var(--unnamed-font-family-helvetica-neue);
  color: white;
}

.section2-bg-color {
  background: var(--unnamed-color-005f3c);
}

.section2-text-size {
  font-size: 30px;
}

@media (min-width: 576px) {
  .section2-text-size {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .section2-text-size {
    font-size: 35px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .section2-text-size {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .section2-text-size {
    font-size: 45px;
  }
}

/*? XL SCREENS */

@media (min-width: 1400px) {
  .section2-text-size {
    font-size: 45px;
  }
}

@media (min-width: 1600px) {
  .section2-text-size {
    font-size: 45px;
  }
}
