<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/hero.css" />
    <link rel="stylesheet" href="/styles/section1.css" />
    <link rel="stylesheet" href="/styles/section2.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="custom-container position-fixed end-0 start-0 z-3">
      <nav class="d-flex justify-content-between">
        <div>
          <div class="text-size-20 bold-text w-276-title text-header-title">
            Green Economy Programme in the Philippines
          </div>
        </div>
        <!-- MENU FOR SMALL SCREEN -->
        <i
          class="bi bi-list fs-2 d-lg-none"
          id="hamburgerIcon"
          style="cursor: pointer"
        ></i>
        <!-- MENU FOR LARGE SCREEN -->
        <div class="d-none d-lg-flex gap-4 fs-6 align-items-center">
          <h1 class="text-size-16"><i class="bi bi-house-door-fill"></i></h1>

          <h1 class="text-size-16">
            About Green Economy <i class="bi bi-arrow-down-circle-fill"></i>
          </h1>
          <h1 class="text-size-16">Learning Center</h1>
          <h1 class="text-size-16">
            Learning Center <i class="bi bi-arrow-down-circle-fill"></i>
          </h1>
          <h1 class="text-size-16">
            Collaboration <i class="bi bi-arrow-down-circle-fill"></i>
          </h1>
          <h1 class="text-size-16">Highlights</h1>
          <h1 class="text-size-16">Events</h1>
          <h1 class="text-size-16">
            Community <i class="bi bi-arrow-down-circle-fill"></i>
          </h1>
          <h1 class="text-size-16">Connect with Us</h1>
        </div>
      </nav>
    </header>
    <section class="hero">
      <div
        class="d-flex flex-column pt-pb-hero text-center justify-content-center align-items-center"
      >
        <h1 class="hero-heading-1">
          Accelerating the Philippines’ Green Transition
        </h1>
        <h1 class="hero-heading-2">
          Empowering the Philippines for a Sustainable Future
        </h1>
        <h1 class="hero-heading-3 hero-heading-3-w">
          A platform designed to accelerate the country’s transition to a
          climate-smart, circular economy through collaboration, innovation, and
          actionable solutions.
        </h1>
      </div>
    </section>
    <section class="section-1 border bg-light">
      <div class="py-5 text-center">
        <div class="custom-container section-1-px row align-items-center">
          <div class="col-lg-6 text-lg-end">
            <img
              class="img-fluid rounded-5"
              src="https://placehold.co/812x572"
              alt="Placeholder Image"
            />
          </div>
          <div class="col-lg-6 text-start">
            <h1 class="section1-text-size mt-3">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
            </h1>
          </div>
        </div>
        <div class="custom-container row justify-content-center g-4 mt-5">
          <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card h-100 p-3 text-center text-lg-start">
              <img
                src="https://placehold.co/100x100"
                alt=""
                class="mb-3 mx-auto"
              />
              <h2 class="fs-4 card-title">Shape a Sustainable Future</h2>
              <p class="text-size-16">
                GEPP is transforming the Philippines into a sustainable,
                inclusive economy through policies, partnerships, and renewable
                energy.
              </p>
              <button class="btn btn-success mt-3">LEARN MORE</button>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card h-100 p-3 text-center text-lg-start">
              <img
                src="https://placehold.co/100x100"
                alt=""
                class="mb-3 mx-auto"
              />
              <h2 class="fs-4 card-title">Unlock Green Solutions</h2>
              <p class="text-size-16">
                Explore best practices, policies, and innovations in the
                circular economy. Gain actionable knowledge to drive
                sustainability.
              </p>
              <button class="btn btn-success mt-3">EXPLORE CONTENT</button>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card h-100 p-3 text-center text-lg-start">
              <img
                src="https://placehold.co/100x100"
                alt=""
                class="mb-3 mx-auto"
              />
              <h2 class="fs-4 card-title">Join the Movement</h2>
              <p class="text-size-16">
                Connect with innovators and stakeholders to drive green
                solutions and impactful collaborations.
              </p>
              <button class="btn btn-success mt-3">START COLLABORATING</button>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
            <div class="card h-100 p-3 text-center text-lg-start">
              <img
                src="https://placehold.co/100x100"
                alt=""
                class="mb-3 mx-auto"
              />
              <h2 class="fs-4 card-title">Stay Connected, Stay Informed</h2>
              <p class="text-size-16">
                Join experts, businesses, and policymakers in events shaping the
                green economy and explore sustainable solutions.
              </p>
              <button class="btn btn-success mt-3">CHECK OUR SOCIALS</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2 bg-success p-5 text-center">
      <h1 class="section2-text-size custom-container">
        Join the movement for a sustainable future. Together, we can transform
        challenges into opportunities for a greener world.
      </h1>
    </section>
    <section class="section-3 bg-light text-center">
      <h1>UPCOMING EVENTS</h1>

      <div class="custom-container row g-4">
        <!-- Event 1 -->
        <div class="col-12 col-md-6">
          <div class="row align-items-center">
            <div class="col-4 position-relative">
              <span
                class="position-absolute top-0 start-0 bg-danger text-white px-2 py-1 rounded-2 fs-mono"
                >UPCOMING</span
              >
              <img
                src="https://placehold.co/400x400"
                class="img-fluid rounded"
                alt="Event Image"
              />
            </div>
            <div class="col-8">
              <h1 class="fs-4">Ut dictum, eros vitae interdum portitor</h1>
              <div><i class="bi bi-calendar4"></i> DD Month YYYY</div>
              <div><i class="bi bi-clock"></i> 00:00 - 00:00</div>
              <div><i class="bi bi-geo-alt"></i> Tellus, Alinquet Pretium</div>
              <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
                assumenda totam, modi incidunt enim dolore porro.
              </p>
              <div class="d-flex gap-2">
                <button class="btn btn-success">Register</button>
                <a href="" class="text-decoration-none">CHECK THIS EVENT</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Event 2 -->
        <div class="col-12 col-md-6">
          <div class="row align-items-center">
            <div class="col-4 position-relative">
              <span
                class="position-absolute top-0 start-0 bg-danger text-white px-2 py-1 rounded-2 fs-mono"
                >UPCOMING</span
              >

              <img
                src="https://placehold.co/400x400"
                class="img-fluid rounded"
                alt="Event Image"
              />
            </div>
            <div class="col-8">
              <h1 class="fs-4">Ut dictum, eros vitae interdum portitor</h1>
              <div><i class="bi bi-calendar4"></i> DD Month YYYY</div>
              <div><i class="bi bi-clock"></i> 00:00 - 00:00</div>
              <div><i class="bi bi-geo-alt"></i> Tellus, Alinquet Pretium</div>
              <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
                assumenda totam, modi incidunt enim dolore porro.
              </p>
              <div class="d-flex gap-2">
                <button class="btn btn-success">Register</button>
                <a href="" class="text-decoration-none">CHECK THIS EVENT</a>
              </div>
            </div>
          </div>
        </div>

        <!--Event 3-->
        <div class="col-12 col-md-6">
          <div class="row align-items-center">
            <div class="col-4 position-relative">
              <span
                class="position-absolute top-0 start-0 bg-danger text-white px-2 py-1 rounded-2 fs-mono"
                >UPCOMING</span
              >
              <img
                src="https://placehold.co/400x400"
                class="img-fluid rounded"
                alt="Event Image"
              />
            </div>
            <div class="col-8">
              <h1 class="fs-4">Ut dictum, eros vitae interdum portitor</h1>
              <div><i class="bi bi-calendar4"></i> DD Month YYYY</div>
              <div><i class="bi bi-clock"></i> 00:00 - 00:00</div>
              <div><i class="bi bi-geo-alt"></i> Tellus, Alinquet Pretium</div>
              <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
                assumenda totam, modi incidunt enim dolore porro.
              </p>
              <div class="d-flex gap-2">
                <button class="btn btn-success">Register</button>
                <a href="" class="text-decoration-none">CHECK THIS EVENT</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Event 4-->
        <div class="col-12 col-md-6">
          <div class="row align-items-start">
            <div class="col-4 position-relative">
              <span
                class="position-absolute top-0 start-0 bg-danger text-white px-2 py-1 rounded-2 fs-mono"
                >UPCOMING</span
              >
              <img
                src="https://placehold.co/400x400"
                class="img-fluid rounded"
                alt="Event Image"
              />
            </div>
            <div class="col-8">
              <h1 class="fs-4">Ut dictum, eros vitae interdum portitor</h1>
              <div><i class="bi bi-calendar4"></i> DD Month YYYY</div>
              <div><i class="bi bi-clock"></i> 00:00 - 00:00</div>
              <div><i class="bi bi-geo-alt"></i> Tellus, Alinquet Pretium</div>
              <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
                assumenda totam, modi incidunt enim dolore porro.
              </p>
              <div class="d-flex gap-2">
                <button class="btn btn-success">Register</button>
                <a href="" class="text-decoration-none">CHECK THIS EVENT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-4 bg-warning text-center py-5">
      <h1 class="mb-4">LATEST NEWS</h1>
      <div class="custom-container">
        <div class="row g-4">
          <!-- News Article 1 -->
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-start bg-white p-3 rounded shadow">
              <img
                src="https://placehold.co/200x200"
                class="img-fluid rounded me-3"
                alt="Event Image"
              />
              <div class="text-start">
                <h6 class="text-uppercase text-muted">Article Tag</h6>
                <h4 class="mb-2">Ut dictum eros vitae venenatis interdum</h4>
                <p class="small mb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <span class="text-decoration-underline">
                  Read more <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- News Article 2  -->
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-start bg-white p-3 rounded shadow">
              <img
                src="https://placehold.co/200x200"
                class="img-fluid rounded me-3"
                alt="Event Image"
              />
              <div class="text-start">
                <h6 class="text-uppercase text-muted">Article Tag</h6>
                <h4 class="mb-2">Ut dictum eros vitae venenatis interdum</h4>
                <p class="small mb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <span class="text-decoration-underline">
                  Read more <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- News Article 3  -->
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-start bg-white p-3 rounded shadow">
              <img
                src="https://placehold.co/200x200"
                class="img-fluid rounded me-3"
                alt="Event Image"
              />
              <div class="text-start">
                <h6 class="text-uppercase text-muted">Article Tag</h6>
                <h4 class="mb-2">Ut dictum eros vitae venenatis interdum</h4>
                <p class="small mb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <span class="text-decoration-underline">
                  Read more <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>

          <!--News Article 4-->
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-start bg-white p-3 rounded shadow">
              <img
                src="https://placehold.co/200x200"
                class="img-fluid rounded me-3"
                alt="Event Image"
              />
              <div class="text-start">
                <h6 class="text-uppercase text-muted">Article Tag</h6>
                <h4 class="mb-2">Ut dictum eros vitae venenatis interdum</h4>
                <p class="small mb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <span class="text-decoration-underline">
                  Read more <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer bg-light py-4">
      <div class="custom-container">
        <div class="border-top border-3 border-success"></div>
        <div
          class="mt-4 position-relative d-flex align-items-center text-center text-md-start"
        >
          <!-- First div: Long EU text -->
          <div>
            <p class="fw-bold small footer-text-color">
              EU-PH Green Economy Programme in the Philippines (GEPP)
            </p>
          </div>

          <!-- Centered Privacy Policy -->
          <div class="position-absolute start-50 translate-middle-x">
            <p class="small fw-bold footer-text-color">
              Privacy Policy | Cookie Policy
            </p>
          </div>

          <!-- Social icons aligned to the right -->
          <div class="ms-auto d-flex gap-3 footer-text-color">
            <div class="fs-4"><i class="bi bi-facebook"></i></div>
            <div class="fs-4"><i class="bi bi-reddit"></i></div>
            <div class="fs-4"><i class="bi bi-instagram"></i></div>
            <div class="fs-4"><i class="bi bi-twitter-x"></i></div>
            <div class="fs-4"><i class="bi bi-youtube"></i></div>
            <div class="fs-4"><i class="bi bi-linkedin"></i></div>
          </div>
        </div>

        <!-- First Row of Images -->
        <div
          class="d-flex justify-content-center align-items-center my-3 flex-wrap gap-4"
        >
          <div class="d-flex align-items-center text-start me-3 gap-2">
            <img
              src="/images/european-union.png"
              class="european-union"
              alt="European Union Logo"
            />
            <h5 class="fs-5 fw-bold">
              Funded by <br />
              the European Union
            </h5>
          </div>
          <div class="text-center">
            <img
              src="/images/denr-1987.png"
              class="denr-1987"
              alt="DENR Logo"
            />
          </div>
        </div>

        <!-- Second Row of Images -->
        <div
          class="mt-5 d-flex flex-wrap justify-content-between align-items-center gap-4"
        >
          <img src="/images/denr.png" class="denr" alt="Logo 3" />
          <img src="/images/giz.png" class="giz" alt="Logo 4" />
          <img src="/images/dilg.png" class="dilg" alt="Logo 5" />
          <img src="/images/undp.png" class="undp" alt="Logo 6" />
          <img src="/images/dti.png" class="dti" alt="Logo 7" />
          <img
            src="/images/expertise-france-logo.png"
            class="expertise-france"
            alt="Logo 8"
          />
          <img src="/images/gggi.png" class="gggi" alt="Logo 10" />
          <img src="/images/doe.png" class="doe" alt="Logo 9" />
          <img src="/images//IFC-Logo.png" class="ifc" alt="Logo 10" />
        </div>
      </div>
    </footer>
  </body>
</html>
