.footer-mt-top {
  margin-top: 40px;
}

.footer-icons-gap {
  gap: 30px;
}

.footer-justify {
  justify-content: center;
}

.footer-eu-icons-justify {
  justify-content: space-between;
}

.footer-eu-text-color {
  color: var(--unnamed-color-002e8d);
}

.footer-european-union-text-size {
  font-size: 15px;
}

.footer-text-color {
  color: var(--unnamed-color-005f3c);
}
.footer-color {
  border-color: var(--unnamed-color-005f3c);
}

.footer-text-size {
  font-size: 15px;
}

.european-union {
  height: 40px;
  width: 70px;
}

.denr-1987 {
  height: 50px;
  width: 50px;
}

.giz {
  width: 40px;
  height: 40px;
}
.denr {
  width: 40px;
  height: 40px;
}

.dilg {
  width: 40px;
  height: 40px;
}

.expertise-france {
  height: 40px;
  width: 120px;
}

.gggi {
  height: 40px;
  width: 120px;
}

.undp {
  height: 40px;
  width: 20px;
}

.doe {
  width: 40px;
  height: 40px;
}

.ifc {
  width: 250px;
  height: 40px;
}
.dti {
  height: 40px;
  width: 40px;
}
@media (min-width: 576px) {
  .footer-eu-icons-justify {
    justify-content: center;
  }
  .footer-text-size {
    font-size: 15px;
  }
  .footer-justify {
    justify-content: center;
  }
  .european-union {
    height: 70px;
    width: 100px;
  }

  .denr-1987 {
    height: 80px;
    width: 80px;
  }

  .giz {
    width: 70px;
    height: 70px;
  }
  .denr {
    width: 70px;
    height: 70px;
  }

  .dilg {
    width: 70px;
    height: 70px;
  }

  .expertise-france {
    height: 70px;
    width: 170px;
  }

  .gggi {
    height: 70px;
    width: 170px;
  }

  .undp {
    height: 70px;
    width: 30px;
  }

  .doe {
    width: 70px;
    height: 70px;
  }

  .ifc {
    width: 380px;
    height: 70px;
  }
  .dti {
    height: 70px;
    width: 70px;
  }
  .footer-mt-top {
    margin-top: 45px;
  }
}

@media (min-width: 768px) {
  .footer-eu-icons-justify {
    justify-content: center;
  }
  .footer-text-size {
    font-size: 15px;
  }
  .footer-justify {
    justify-content: center;
  }
  .european-union {
    height: 70px;
    width: 100px;
  }

  .denr-1987 {
    height: 80px;
    width: 80px;
  }

  .giz {
    width: 70px;
    height: 70px;
  }
  .denr {
    width: 70px;
    height: 70px;
  }

  .dilg {
    width: 70px;
    height: 70px;
  }

  .expertise-france {
    height: 70px;
    width: 170px;
  }

  .gggi {
    height: 70px;
    width: 190px;
  }

  .undp {
    height: 70px;
    width: 30px;
  }

  .doe {
    width: 70px;
    height: 70px;
  }

  .ifc {
    width: 380px;
    height: 70px;
  }
  .dti {
    height: 70px;
    width: 70px;
  }
  .footer-mt-top {
    margin-top: 0px;
  }
}

/*? LAPTOPS/PC */
@media (min-width: 992px) {
  .footer-eu-icons-justify {
    justify-content: center;
  }
  .footer-text-size {
    font-size: 15px;
  }
  .footer-justify {
    justify-content: center;
  }

  .european-union {
    height: 40px;
    width: 70px;
  }

  .denr-1987 {
    height: 50px;
    width: 50px;
  }
  .denr {
    width: 40px;
    height: 40px;
  }
  .giz {
    width: 40px;
    height: 40px;
  }

  .dilg {
    width: 40px;
    height: 40px;
  }
  .undp {
    height: 40px;
    width: 20px;
  }
  .dti {
    height: 40px;
    width: 40px;
  }

  .expertise-france {
    height: 40px;
    width: 140px;
  }

  .gggi {
    height: 40px;
    width: 120px;
  }

  .doe {
    width: 40px;
    height: 40px;
  }

  .ifc {
    width: 250px;
    height: 40px;
  }
  .footer-mt-top {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .footer-justify {
    justify-content: center;
  }
  .footer-eu-icons-justify {
    justify-content: space-between;
  }

  .footer-text-size {
    font-size: 16px;
  }
  .footer-european-union-text-size {
    font-size: 16px;
  }
  .european-union {
    height: 50px;
    width: 80px;
  }

  .denr-1987 {
    height: 60px;
    width: 60px;
  }
  .denr {
    width: 50px;
    height: 50px;
  }
  .giz {
    width: 50px;
    height: 50px;
  }

  .dilg {
    width: 50px;
    height: 50px;
  }
  .undp {
    height: 50px;
    width: 20px;
  }
  .dti {
    height: 50px;
    width: 50px;
  }

  .expertise-france {
    height: 50px;
    width: 150px;
  }

  .gggi {
    height: 50px;
    width: 150px;
  }

  .doe {
    width: 50px;
    height: 50px;
  }

  .ifc {
    width: 320px;
    height: 50px;
  }
  .footer-mt-top {
    margin-top: 0px;
  }
  .footer-icons-gap {
    gap: 28px;
  }
}

/*? XL SCREENS */

@media (min-width: 1400px) {
  .footer-european-union-text-size {
    font-size: 16px;
  }
  .footer-eu-icons-justify {
    justify-content: space-between;
  }

  .footer-justify {
    justify-content: space-between;
  }
  .footer-text-size {
    font-size: 16px;
  }
  .european-union {
    height: 50px;
    width: 80px;
  }

  .denr-1987 {
    height: 60px;
    width: 60px;
  }
  .denr {
    width: 50px;
    height: 50px;
  }
  .giz {
    width: 50px;
    height: 50px;
  }

  .dilg {
    width: 50px;
    height: 50px;
  }
  .undp {
    height: 50px;
    width: 20px;
  }
  .dti {
    height: 50px;
    width: 50px;
  }

  .expertise-france {
    height: 50px;
    width: 150px;
  }

  .gggi {
    height: 50px;
    width: 150px;
  }

  .doe {
    width: 50px;
    height: 50px;
  }

  .ifc {
    width: 310px;
    height: 50px;
  }
  .footer-mt-top {
    margin-top: 0px;
  }
  .footer-icons-gap {
    gap: 48px;
  }
}

@media (min-width: 1600px) {
  .footer-european-union-text-size {
    font-size: 20px;
  }
  .footer-eu-icons-justify {
    justify-content: space-between;
  }

  .footer-justify {
    justify-content: center;
  }

  .footer-text-size {
    font-size: 20px;
  }
  .european-union {
    height: 70px;
    width: 100px;
  }

  .denr-1987 {
    height: 80px;
    width: 80px;
  }

  .giz {
    width: 70px;
    height: 70px;
  }
  .denr {
    width: 70px;
    height: 70px;
  }

  .dilg {
    width: 70px;
    height: 70px;
  }

  .expertise-france {
    height: 70px;
    width: 170px;
  }

  .gggi {
    height: 70px;
    width: 170px;
  }

  .undp {
    height: 70px;
    width: 30px;
  }

  .doe {
    width: 70px;
    height: 70px;
  }

  .ifc {
    width: 380px;
    height: 70px;
  }
  .dti {
    height: 70px;
    width: 70px;
  }
  .footer-mt-top {
    margin-top: 0px;
  }
  .footer-icons-gap {
    gap: 85px;
  }
}
