:root {
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: 700;
  --unnamed-font-weight-medium: 500;
  --unnamed-font-weight-normal: 400;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-30: 30px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-font-family-helvetica-neue: "Helvetica Neue", Arial, sans-serif;

  /* Global Colors */
  --color-light: #f9f9f6;
  --color-dark: #1e1e1b;
  --color-accent: #005f3c;
  --color-black: #010101;
  --color-muted: #e6f2e6;

  /**/
  --line-height-55: 55px;
  --line-height-25: 25px;
}

body {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-normal);
  line-height: var(--unnamed-line-spacing-26);
  font-style: var(--unnamed-font-style-normal);
}
aaa

/*FONT TEXT*/

.font-bold-40 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-family-helvetica-neue);
}

.bold-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / 19px var(--unnamed-font-family-helvetica-neue);
}

.large-bold-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    60px / 74px var(--unnamed-font-family-helvetica-neue);
}

.medium-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-30) / 40px
    var(--unnamed-font-family-helvetica-neue);
}

.normal-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-26) var(--unnamed-font-family-helvetica-neue);
}

/* FONT SIZE */

.text-size-20 {
  font-size: 20px;
}

.text-size-16 {
  font-size: 16px;
}

.text-size-30 {
  font-size: 30px;
}

.text-size-40 {
  font-size: 40px;
}

/* GAPS */
.gap-20 {
  gap: 20px;
}

/* WIDTH */

.w-787 {
  width: 787px;
}

.w-276 {
  width: 276px;
}

.w-943 {
  width: 943px;
}
.w-420 {
  width: 420px;
}

/* PADDING */

.px-73 {
  padding-left: 73px;
  padding-right: 73px;
}

.px-140 {
  padding-left: 140px;
  padding-right: 140px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-25 {
  padding-top: 25px;
}

/*MARGIN*/
.mt-70 {
  margin-top: 70px;
}

.mt-241 {
  margin-top: 241px;
}
.mt-23 {
  margin-top: 23px;
}

.ml-41 {
  margin-left: 41px;
}

.mx-31 {
  margin-left: 31px;
  margin-right: 31px;
}
.my-42 {
  margin-top: 42px;
  margin-bottom: 42px;
}
/*LINE HEIGHT*/
.line-height-55 {
  line-height: var(--line-height-55);
}

.line-height-25 {
  line-height: var(--line-height-25);
}

/*HEIGHT*/
.h-600 {
  height: 600px;
}

/* TEXT COLORS*/

.text-light {
  color: var(--color-light);
}

.text-dark {
  color: var(--color-dark);
}

.text-accent {
  color: var(--color-accent);
}

.text-black {
  color: var(--color-black);
}

.text-muted {
  color: var(--color-muted);
}

/*BG COLORS*/

.bg-color-muted {
  color: var(--color-muted);
}
